{% extends 'base.html.twig' %}

{% block rightColumnContent %}
	<div class="activities-section">
		<h3>{{ pageTitle }}</h3>

		<table cellspacing="0" cellpadding="0">
			<thead>
				<tr>
					<th>Author</th>
					<th>Date</th>
					<th>Title</th>
					<th>Time</th>
					<th>Distance</th>
					<th>Elevation</th>
					<th>Public</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for activity in activities %}
					<tr>
						<td>
							<a href="{{ path('user_routes', {id: activity.user.id}) }}">
								{{ activity.user.name }} {{ activity.user.surname }}
							</a>
						</td>
						<td>{{ activity.startAt|date }}</td>
						<td>
							<a href="{{ path('route', { id: activity.id }) }}">{{ activity.title }}</a>
						</td>
						<td>{{ activity.movingTime|time_format }}</td>
						<td>{{ activity.distance|meters_to_kilometers }}</td>
						<td>{{ activity.elevation }} m</td>
						<td>{{ activity.public ? 'Yes' : 'No' }}</td>
						<td>
							{% if isAuthUser %}
								<a href="{{ path('user_route_edit', { id: activity.id }) }}">Edit</a>
								| <a href="{{ path('user_route_toggle_public', { id: activity.id }) }}">
									{% if activity.public %}Hide{% else %}Publish{% endif %}
								</a>
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
